vti_encoding:SR|utf8-nl
vti_author:SR|Dallas
vti_modifiedby:SR|Dallas
vti_timecreated:TR|11 Dec 2001 23:29:37 -0000
vti_timelastmodified:TR|11 Dec 2001 23:29:37 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|11 Dec 2001 23:29:38 -0000
vti_filesize:IR|5153
vti_cachedlinkinfo:VX|S|capbannd.gif S|capnavhd.gif S|capnavhp.gif S|caphomed.gif S|capnextd.gif S|capbackd.gif S|capupd.gif S|capglob1.gif S|capnavvd.gif S|capnavvp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/capsules/capbannd.gif FSUS|_themes/capsules/capnavhd.gif FSUS|_themes/capsules/capnavhp.gif FSUS|_themes/capsules/caphomed.gif FSUS|_themes/capsules/capnextd.gif FSUS|_themes/capsules/capbackd.gif FSUS|_themes/capsules/capupd.gif FSUS|_themes/capsules/capglob1.gif FSUS|_themes/capsules/capnavvd.gif FSUS|_themes/capsules/capnavvp.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_www.gbronline.com\:80/n5fee:TR|11 Dec 2001 23:29:37 -0000
