vti_encoding:SR|utf8-nl
vti_author:SR|Dallas
vti_modifiedby:SR|Dallas
vti_timecreated:TR|11 Dec 2001 23:29:38 -0000
vti_timelastmodified:TR|11 Dec 2001 23:29:38 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|11 Dec 2001 23:29:40 -0000
vti_filesize:IR|1876
vti_cachedlinkinfo:VX|S|capbanna.gif S|capsepa.gif S|capbul1a.gif S|capbul2a.gif S|capbul3a.gif S|capnavhs.gif S|capnavha.gif S|capnavhh.gif S|capnavvs.gif S|capnavva.gif S|capnavvh.gif S|caphomea.gif S|caphomeh.gif S|caphomep.gif S|capupa.gif S|capuph.gif S|capupp.gif S|capbacka.gif S|capbackh.gif S|capbackp.gif S|capnexta.gif S|capnexth.gif S|capnextp.gif S|capbul1a.gif S|capbul2a.gif S|capbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/capsules/capbanna.gif FSUS|_themes/capsules/capsepa.gif FSUS|_themes/capsules/capbul1a.gif FSUS|_themes/capsules/capbul2a.gif FSUS|_themes/capsules/capbul3a.gif FSUS|_themes/capsules/capnavhs.gif FSUS|_themes/capsules/capnavha.gif FSUS|_themes/capsules/capnavhh.gif FSUS|_themes/capsules/capnavvs.gif FSUS|_themes/capsules/capnavva.gif FSUS|_themes/capsules/capnavvh.gif FSUS|_themes/capsules/caphomea.gif FSUS|_themes/capsules/caphomeh.gif FSUS|_themes/capsules/caphomep.gif FSUS|_themes/capsules/capupa.gif FSUS|_themes/capsules/capuph.gif FSUS|_themes/capsules/capupp.gif FSUS|_themes/capsules/capbacka.gif FSUS|_themes/capsules/capbackh.gif FSUS|_themes/capsules/capbackp.gif FSUS|_themes/capsules/capnexta.gif FSUS|_themes/capsules/capnexth.gif FSUS|_themes/capsules/capnextp.gif FSUS|_themes/capsules/capbul1a.gif FSUS|_themes/capsules/capbul2a.gif FSUS|_themes/capsules/capbul3a.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_www.gbronline.com\:80/n5fee:TR|11 Dec 2001 23:29:38 -0000
