vti_encoding:SR|utf8-nl
sym/symdos2/trs80fdc.pdf:sym/symdos2/symdos2.htm
sym/symdos1.pdf:sym/symdos2/symdos2.htm
sym/a32kram.pdf:sym/symdos2/symdos2.htm
http\://dbserv.maxim-ic.com/quick_view2.cfm:sym/symdos2/symdos2.htm
sym/1541 dos/sym 1541 man 1.pdf:sym/1541\\ dos/1541manual.htm
mailto\:n5fee@netzero.net:sym/symdos2/sym1.htm
